<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Edit Job Details</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <h2>Room details</h2>
    <div>
         <form class="form-horizontal" th:object="${employeedetails}" th:action="@{/wspbookingapp/Admin/saveEmployee}" method="post">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="hidden" class="form-control" th:field="*{empId}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Employee Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{empName}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Full Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{fullName}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Location:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{location}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Country:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{country}" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>

        </form>
    </div>
</div>
</body>
</html>